.App {
  max-width: 600px;
  margin: 30px auto;
}

.App-link {
  color: #282c34;
  text-decoration: none;
}

.App footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  margin: 10px 0;
}


/*.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
