h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #282c34;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
}

.App {
  text-align: center;
  
}
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

.App-link {
  color: #282c34;
  text-decoration: none;
}
.container {
  text-align: justify;
  
}
/*.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
