a {
  color: #000000;
}

h1 {
  font-size: 48px;
  font-family: "Roboto Mono", monospace, sans-serif;
  color: #000000;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}

ul,
li {
  font-family: "Roboto";
  font-weight: medium;
  color: rgb(106, 106, 106);
}
